body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 4;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(135deg, rgba(112, 213, 255, 0.8), rgba(0, 89, 188, 0.9));
  opacity: 0;
  transition: transform 500ms ease, opacity 300ms ease;
  pointer-events: none; }

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #0a0a15;
  background-image: radial-gradient(800px 720px at 54% 64%, rgba(0, 0, 0, 0.25), #100e17, #100e17, #100e17), url("../images/RAM_2074-7.jpg");
  background-size: 530px;
  background-position: 50% 140%;
  color: white; }

header,
main,
footer,
.aboutMe {
  background-color: #100e17; }

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

h1 {
  font-size: 6rem;
  letter-spacing: 0.5rem;
  font-family: "Aquatico";
  text-shadow: 0 0 5px #fff, 0 0 15px #fff;
  position: relative;
  line-height: 100%;
  padding-bottom: 0.5rem; }

h2 {
  font-size: 1.25rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: letter-spacing 300ms ease; }
  h2 span {
    color: #65adf1;
    transition: transform 300ms linear;
    transform-origin: center center;
    font-size: 1.15rem;
    display: inline-block;
    position: relative; }

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8% 12%;
  flex-wrap: wrap; }

h3 {
  margin-top: -1.75rem;
  padding: 0.5rem 0;
  padding-left: 0.55rem;
  display: table;
  font-size: 1rem;
  letter-spacing: 0.35rem;
  font-family: "Aquatico";
  background-color: #100e17;
  z-index: 1;
  position: relative;
  border: 1px solid transparent; }

section {
  flex: 0 0 32%;
  margin: 4% 0 0;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1%;
  min-height: 200px;
  font-size: 2rem;
  position: relative; }
  section#photography::after {
    background-image: radial-gradient(440px 600px at center, rgba(0, 0, 0, 0.05), #100e17, #100e17, #100e17);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  section#about:hover {
    transform: translateY(-10px) rotate(-1deg); }
  section#about::after {
    background-image: radial-gradient(440px 600px at center, rgba(0, 0, 0, 0.05), #100e17, #100e17, #100e17);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  section img {
    transition: transform 300ms ease; }
  section:hover {
    border: 1px solid #006eff;
    box-shadow: 0 0 2px 0 rgba(203, 226, 255, 0.6); }
    section:hover img {
      transform: scale(1.05); }
    section:hover h3 {
      border: 1px solid #006eff;
      box-shadow: 0 0 2px 0 rgba(203, 226, 255, 0.6); }
  section a {
    color: white;
    display: block;
    width: 100%;
    height: 100%; }
  section:nth-child(1) a {
    color: #f9b7fc; }
  section:nth-child(2) a {
    color: #a1fafd; }
  section:nth-child(3) a {
    color: #a1fdb8; }
  section:nth-child(4) a {
    color: #fcb7ce; }
  section:nth-child(5) a {
    color: #fde4a1; }
  section:nth-child(6) a {
    color: #fda1a1; }
  section#websites img {
    position: absolute;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    transform: rotateY(-30deg) rotateX(5deg);
    display: block;
    z-index: 0; }
  section#designs {
    perspective: 2000px; }
    section#designs .grid {
      display: grid;
      margin: 2rem 0.75rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
      transform: rotateY(15deg) rotateX(0deg); }
      section#designs .grid img {
        background: white; }
  section#about img {
    pointer-events: none; }
  section#about img:nth-of-type(2) {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; }
  section#about:hover img:nth-of-type(1) {
    opacity: 0; }

.headings {
  margin-top: -20rem;
  position: relative;
  display: block;
  transition: transform 300ms ease; }
  .headings:hover {
    transform: skewY(-5deg);
    cursor: progress; }
    .headings:hover h2 span {
      transform: rotate(405deg);
      top: 2px; }
    .headings:hover .pronounce {
      opacity: 1;
      transform: translate(-50%, -1.5rem); }
    .headings:hover h2 {
      letter-spacing: 6px; }

.scroll-more {
  width: 58px;
  position: absolute;
  bottom: -400px;
  left: calc(50% - 30px);
  margin: 0 auto;
  font-size: 2rem;
  color: white;
  animation: bounce 3s infinite cubic-bezier(0.37, 0, 0.21, 1.02); }

.track {
  perspective: 2000px;
  position: absolute;
  width: 105%;
  padding-bottom: 60%;
  top: 20%;
  z-index: 4;
  left: -7%; }

.desktop {
  width: 95%;
  top: 0;
  left: 12%;
  -webkit-transform: rotateY(-30deg) rotateX(5deg) translateX(-50%);
  transform: rotateY(-30deg) rotateX(5deg) translateX(-50%); }

.tablet {
  width: 50%;
  top: 20%;
  z-index: 1; }

.phone {
  width: 24%;
  top: 69%;
  left: 33%;
  z-index: 2; }

.pronounce {
  margin-top: -0.5rem;
  color: white;
  border-radius: 12px;
  font-size: 12px;
  padding: 0.45rem 1.5rem 0.45rem;
  letter-spacing: 0.5px;
  display: inline-block;
  font-style: italic;
  border-top: 1px solid rgba(80, 220, 255, 0.7);
  border-bottom: 1px solid rgba(11, 148, 182, 0.7);
  position: absolute;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  top: 0;
  transition: opacity 300ms ease, transform 300ms ease; }

.logo {
  width: 100px;
  height: auto;
  position: fixed;
  bottom: -73px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%); }
  .logo::after {
    content: "";
    position: absolute;
    height: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
    border-style: solid;
    border-width: 50px 50vw 0 50vw;
    border-color: white transparent transparent transparent; }
  .logo a {
    cursor: pointer;
    display: inline-block; }
  .logo img {
    position: relative;
    top: 0;
    transition: all 300ms ease;
    transform: scale(0.82); }
  .logo:hover img {
    transform: scale(1); }

.triangles::before {
  content: "";
  position: fixed;
  height: 0;
  top: 0;
  right: 0;
  z-index: 5;
  /* opacity: 0; */
  transition: transform 300ms ease, border 300ms ease;
  transform: translateX(50px);
  border-style: solid;
  border-width: 50vh 50px 50vh 0;
  border-color: transparent white transparent transparent; }

.triangles::after {
  content: "";
  position: fixed;
  height: 0;
  top: 0;
  left: 0;
  z-index: 5;
  border-style: solid;
  transition: transform 300ms ease, border 300ms ease;
  transform: translateX(-50px);
  border-width: 50vh 0 50vh 50px;
  border-color: transparent transparent transparent white; }

.menu {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  padding: 2.5rem 7rem 2rem;
  left: 0;
  z-index: 10;
  background: #fff;
  transform: translateY(-100%);
  opacity: 1;
  transition: all 500ms ease;
  border-bottom: 1px solid white; }
  .menu:hover ~ .triangles::after,
  .menu:hover ~ .triangles::before {
    transform: translate(0, 0);
    opacity: 1; }
  .menu:hover ~ header {
    background-image: radial-gradient(720px at 50% 66%, rgba(0, 0, 0, 0.15), #100e17, #100e17, #100e17), url("../images/RAM_2066-6.jpg");
    background-position: 55% 132%; }
  .menu a:hover span {
    color: #2195ce; }
  .menu ul {
    display: flex;
    justify-content: space-between; }
    .menu ul li a {
      display: inline-block;
      color: #100e17;
      font-weight: normal;
      font-size: 0.75rem;
      text-align: center; }
      .menu ul li a span {
        font-weight: bold;
        font-size: 1.5rem;
        display: block; }

.eyebrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50px);
  width: 100%;
  padding: 0 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: padding 300ms ease, transform 300ms ease; }
  .eyebrow:hover {
    transform: translateX(-50%) translateY(0); }
  .eyebrow::after {
    content: "";
    position: fixed;
    height: 0;
    bottom: 100%;
    left: 50%;
    transition: transform 300ms ease 300ms, opacity 300ms ease 300ms, border 300ms ease;
    transform: translateX(-50%) translateY(0);
    z-index: -1;
    border-style: solid;
    border-width: 0 50vw 50px 50vw;
    border-color: transparent transparent white transparent; }

.social-media {
  max-width: 325px;
  width: 100%;
  margin: -1.2rem auto 0;
  z-index: 5;
  transition: padding 300ms ease;
  display: flex;
  justify-content: center; }
  .social-media a {
    display: inline-block;
    position: relative;
    flex: 1 1 0;
    padding: 2px 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: transparent;
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 5px rgba(91, 181, 255, 0.5)); }
    .social-media a::before {
      width: 19px;
      opacity: 0.85;
      filter: invert(1);
      position: absolute;
      top: -9px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), top 300ms ease; }
    .social-media a::after {
      content: "";
      border-radius: 50%;
      width: 74px;
      height: 74px;
      position: absolute;
      top: -2.15rem;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%) scale(0.3);
      opacity: 0;
      transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .social-media a:hover {
      color: white;
      text-shadow: 0 0 2px white;
      filter: none; }
      .social-media a:hover::after {
        transform: scale(1) translateX(-50%) translateZ(0);
        opacity: 1; }
      .social-media a:hover::before {
        top: -1rem;
        width: 25px;
        opacity: 0.9;
        filter: none; }
    .social-media a:nth-child(1)::before {
      content: url("../icons/instagram.svg"); }
    .social-media a:nth-child(1)::after {
      background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf); }
    .social-media a:nth-child(2)::before {
      content: url("../icons/dribbble.svg"); }
    .social-media a:nth-child(2)::after {
      background: #e83e80; }
    .social-media a:nth-child(3)::before {
      content: url("../icons/github.svg"); }
    .social-media a:nth-child(3)::after {
      background: #552775; }
    .social-media a:nth-child(4)::before {
      content: url("../icons/codepen.svg"); }
    .social-media a:nth-child(4)::after {
      background: #181818; }

.contact a {
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  color: silver;
  position: relative;
  transition: color 300ms ease-in-out; }
  .contact a:first-child {
    color: #63b5f8; }
  .contact a:nth-child(3) {
    color: #41a4f5; }
  .contact a:nth-child(5) {
    color: #1b88e2; }
  .contact a:hover {
    color: black; }
    .contact a:hover:not(.music)::before {
      left: 0;
      right: auto;
      width: 100%; }
  .contact a::before {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0rem;
    height: 2px;
    background-color: #63b5f8;
    background: linear-gradient(135deg, rgba(112, 213, 255, 0.8), rgba(0, 89, 188, 0.9));
    right: 0;
    -webkit-transition: width 0.3s cubic-bezier(0.37, 0, 0.21, 1.02);
    transition: width 0.3s cubic-bezier(0.37, 0, 0.21, 1.02); }

.is-open::after {
  opacity: 1; }

.is-open .logo img {
  transform: scale(2);
  top: 14rem; }

.is-open .menu {
  transform: translateY(0); }

.is-open .triangles::after,
.is-open .triangles::before {
  transform: translate(0, 0); }

.is-open .triangles::after {
  border-width: 50vh 0 50vh 100px; }

.is-open .triangles::before {
  border-width: 50vh 100px 50vh 0; }

.is-open .eyebrow {
  padding-bottom: 4rem;
  transform: translateX(-50%) translateY(50px); }

.is-open .social-media {
  padding: 1.25rem 0 0.75rem; }

.scene {
  background-color: #bff0ff;
  background: linear-gradient(0deg, rgba(112, 213, 255, 0.8), #bff0ff);
  width: calc(100% - 2rem);
  height: calc(100% - 2.5rem);
  margin: 1rem; }

.cloud {
  animation: animateclouds 50s infinite linear;
  background-color: #f4f8fc;
  border-radius: 3rem;
  border-left: 3px solid #e8f0f7;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(239, 239, 239, 0.1);
  width: 12rem;
  height: 4rem;
  top: 70%;
  left: -10%;
  z-index: 3;
  position: absolute;
  transform: scale(0.6); }
  .cloud::before {
    width: 100px;
    height: 100px;
    top: -45px;
    left: 25px;
    z-index: 2;
    background: #f0f8ff;
    border-radius: 50%;
    border-left: 3px solid #e8f0f7;
    content: "";
    display: block;
    position: absolute; }
  .cloud::after {
    content: "";
    display: block;
    position: absolute;
    background: #f0f8ff;
    border-radius: 50%;
    border-left: 3px solid #e8f0f7;
    width: 60px;
    z-index: 2;
    height: 60px;
    top: -20px;
    left: 100px; }
  .cloud.cloud1 {
    top: 20%;
    animation: animateclouds 22s infinite linear;
    transform: scale(0.5);
    z-index: 0; }

.island {
  width: 110px;
  height: 16px;
  border-radius: 5px;
  background: linear-gradient(180deg, #00fc00, limegreen);
  background: linear-gradient(0deg, #1ab306, #acf036);
  position: absolute;
  opacity: 0.95;
  animation: title-hover 2s ease-in-out infinite alternate; }

.island::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  height: 30px;
  background: #bb8738;
  background: #dd9c42;
  background: #bd7c26;
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.2);
  width: 100px;
  transform: translateX(-50%); }

.island1 {
  top: 43px;
  right: -3%;
  z-index: 1; }

.island2 {
  position: absolute;
  top: 115px;
  left: 30px;
  width: 150px; }

.island2::after {
  height: 60px;
  width: 135px; }

.island3 {
  top: 15%;
  right: 38%;
  transform: scale(0.3); }

.waterfall {
  width: 15px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(115, 225, 255, 0), #73e1ff, #0da6ff);
  margin-left: 25px;
  margin-top: 0px;
  border-top-left-radius: 4px; }

.waterfall2 {
  width: 35px;
  height: 250px;
  margin-left: 90px;
  border-top-left-radius: 0px;
  border-top-right-radius: 6px;
  background-image: linear-gradient(0deg, rgba(115, 225, 255, 0), rgba(115, 225, 255, 0.7), #0da6ff); }

.waterfall3 {
  width: 5px; }

.aboutMe p {
  max-width: 640px;
  line-height: 150%;
  font-size: 1.5rem;
  margin-top: 2rem;
  width: 100%;
  color: white;
  margin: 0 auto;
  text-align: center; }

.aboutMe .gamer {
  font-size: 1rem; }

.battlenet {
  color: #0b94dd;
  padding-left: 1.5rem;
  cursor: pointer;
  position: relative; }

.battlenet:hover::after,
.discord:hover::after {
  opacity: 1; }

.battlenet::after {
  content: "Sathya#1492";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
  color: #7dcfff;
  padding: 0 0.5rem;
  background-color: rgba(56, 137, 236, 0.6);
  opacity: 0;
  box-shadow: 2px 2px 0 0 #7dcfff; }

.discord {
  color: #7289da;
  cursor: pointer;
  padding-left: 1.5rem;
  position: relative; }

.discord::after {
  content: "Sathex#6172";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
  color: #d698ff;
  padding: 0 0.5rem;
  background-color: rgba(74, 85, 189, 0.6);
  opacity: 0;
  box-shadow: 2px 2px 0 0 #d698ff; }

.discord::before {
  content: url("../icons/discord.svg");
  width: 19px;
  height: auto;
  position: absolute;
  top: 0;
  left: 3px;
  display: block;
  z-index: 2; }

.battlenet::before {
  content: url("../icons/battlenet.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  z-index: 2; }

footer {
  bottom: 0;
  align-items: center;
  width: 100%;
  padding: 6rem 2rem 10rem;
  overflow: hidden;
  position: relative; }
  footer a {
    text-shadow: 0 0 5px #fff, 0 0 20px #60c0f0, 0 0 50px #60c0f0;
    display: block;
    font-size: 2rem;
    font-family: Aquatico;
    letter-spacing: 0.1rem;
    color: #fff;
    margin-top: 1rem;
    line-height: 150%; }

.hire-me {
  font-size: 1.5rem;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border: 8px solid white;
  padding: 2rem 3.5rem;
  outline: 9px solid #0a0a15;
  transition: box-shadow 400ms ease;
  background-color: transparent;
  background-color: #0a65ce;
  color: #fff;
  box-shadow: 32px 32px 0px 0px #1fadff, 40px 40px 0px 0px #0a0a15, 64px 64px 0px 0px #0a65ce, 72px 72px 0px 0px #0a0a15, 96px 96px 0px 0px #1fadff, 104px 104px 0px 0px #0a0a15, 130px 130px 0px 0px #0a65ce, 137px 137px 0px 0px #0a0a15, 163px 168px 0px 0px #1fadff, 171px 175px 0px 0px #0a0a15, 198px 200px 0px 0px #0a65ce, 206px 208px 0px 0px #0a0a15, 232px 240px 0px 0px #1fadff, 240px 249px 0px 0px #0a0a15, 265px 277px 0px 0px #0a65ce; }
  .hire-me a {
    font-size: 1.25rem;
    text-underline-position: under; }
  .hire-me p {
    line-height: normal;
    margin: 0; }
  .hire-me span {
    font-size: 2.75rem; }
  .hire-me:hover {
    background-color: #fff;
    color: #131822;
    outline: 10px solid #fff;
    border: 8px solid #fff;
    box-shadow: -30px -30px 0px 0px #1fadff; }
    .hire-me:hover a {
      color: #2598ce;
      text-shadow: none; }
