header, main {
  max-width: 1090px;
  margin: auto;
  padding: 50px 30px;
  text-align: center;
}

h1 {
  font-family: 'Alegreya', serif;
  font-size: 3rem;
}

h2 {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  flex-direction: column;

  
  div {
    flex-grow: 1;
    padding: 0 2rem;
  }
  span {
    display: block;
    letter-spacing: 0.05rem;
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 568px) {
  h1 {
    font-size: 8rem;
  }
  
  h2 {
    font-size: 2rem;
    flex-direction: row;

    span {
      letter-spacing: 0.25rem;
      font-size: 0.75rem;
    }
  }
}
