header {
  width: 100vw;
  height: auto;
  color: white;
  position: relative;
  text-align: center;
  perspective: 100px;
  background-color: #0d1323;
  background-image: radial-gradient(
    ellipse at 50% 36%,
    #142c63 0,
    #0d1323 45%,
    #000 150%
  );
}

.branding {
  width: 100%;
  height: auto;
  padding: 5.5rem 5rem 5rem;
  z-index: 15;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;

  @media screen and (max-width: 800px) {
    height: 80vh;
  }
}

.pronounce {
  margin-bottom: -0.5rem;
  position: relative;
  font-size: 11px;
  z-index: 5;
  font-weight: lighter;
  opacity: 0;
  transition: all 500ms ease;
  pointer-events: none;
  display: inline-block;
  transform: scaleX(0.9);

  i {
    font-size: 12px;
    color: white;
    text-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3), 0 -5px 20px rgba(0, 0, 0, 0.3);
  }
}

.explanation {
  margin-top: -0.5rem;
  color: white;
  border-radius: 12px;
  padding: 0.45rem 1.5rem 0.35rem;
  font-style: italic;
  border-top: 1px solid rgba(80, 220, 255, 0.7);

  span {
    font-size: 12px;
    font-style: normal;
  }
}

.hoverwrap {
  &:hover {
    .pronounce {
      opacity: 1;
      pointer-events: auto;
      transform: scaleX(1);
    }

    h1 span {
      padding: 0 10px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-family: "aquatico", sans-serif;
      font-weight: 200;
      letter-spacing: 8px;
      text-shadow: 0 0 5px #fff, 0 0 20px #60c0f0, 0 0 50px #60c0f0;
      transform: translateY(0px);
      cursor: url("./../ram-logo-white.png"), auto;
    }
  }
}

h1 {
  font-family: "Aquatico";
  font-size: 4.75rem;
  line-height: 100%;
  text-transform: uppercase;

  @media screen and (max-width: 400px) {
    font-size: 3.75rem;
  }

  @media screen and (min-width: 568px) {
    font-size: 8rem;
    margin: 0;
  }

  span {
    text-shadow: 0 0 05px white, 0 0 15px white;
    transition: all 300ms ease;
  }
}

h2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .skills {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    font-size: 1.25rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    flex-direction: column;
    color: #fff;
    flex: 1;
    margin-bottom: -40px;
    font-weight: bold;
    font-family: "Aquatico";
    transition: transform 300ms ease;
    background-color: white;
    background-image: linear-gradient(-180deg, white 40%, #99d4f1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 960px) {
      margin: 0;
    }

    @media screen and (max-width: 540px) {
      font-size: 0.85rem;
    }

    div {
      flex-grow: 1;
      padding: 0 2rem;
      text-align: left;
    }

    span {
      display: block;
      font-family: "Barlow";
      letter-spacing: 0.25rem;
      font-size: 0.75rem;
      margin-bottom: 0px;
      font-weight: normal;
      @media screen and (max-width: 540px) {
        font-size: 0.6rem;
      }
    }
  }
}

header img {
  width: 25px;
  height: 20px;
}

.space {
  width: 1500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 38%;
  left: 50%;
  perspective: 180px;
  transform-origin: center center;
  pointer-events: none;

  .stars {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #fff;
  }

  @media screen and (min-width: 1600px) {
    width: 2000px;
    height: 2000px;
  }
}

.planet {
  position: absolute;
  top: 57%;
  left: 50%;
  width: 355px;
  height: 355px;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: linear-gradient(
    66deg,
    #62a3d2 0%,
    #183e64 44%,
    #031222 100%
  );
  box-shadow: inset 0 5px 5px 1px white, inset 0 0 5px 1px white,
    inset 0 8px 10px 3px #4bb8ec, inset 0 6px 10px 3px #4bb8ec,
    0 0 10px 3px #91cbf5;
  border-radius: 50%;
  animation: spin 10s linear infinite;

}

.eyebrowMenu {
  position: absolute;
  top: 20px;
  padding: 1.25rem 3.5rem;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    padding: 1.25rem 1.5rem;
  }

  span {
    position: absolute;
    font-size: 12px;
    transform: translateX(calc(-100% + 10px)) translateY(-16px);
    display: inline-block;
    width: max-content;
    text-align: right;
    opacity: 0;
    padding: 20px 0.5rem;
    transition: opacity 500ms ease, transform 500ms ease;
  }

  audio {
    display: none;
  }

  button {
    background: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding: 15px 16px;
    width: 52px;
    height: 52px;
    margin-top: 0.5rem;
    border: 1px solid transparent;
    left: 0;
    border-radius: 50px;

    &:hover {
      span {
        opacity: 1;
        transform: translateX(calc(-100% - 20px)) translateY(-16px);
      }
    }

    &.addStar {
      box-shadow: 0 0 3px rgb(255, 244, 147);
      &:active {
        background-color: rgb(255, 240, 102);
      }
    }

    &#pauseButton {
      top: 60px;
      box-shadow: 0 0 3px rgb(43, 248, 104);
      display: none;
    }

    &#playButton {
      opacity: 1;
      top: 60px;
      box-shadow: 0 0 3px rgb(65, 193, 253);

      &:active {
        background-color: rgb(65, 193, 253);
      }
      i {
        margin-left: -2px;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}