header, main {
  text-align: center;
  padding: 0 30px;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #3178d5, #2983d9, #278edc, #2e99df, #3aa3e0, #4eabe1, #5fb2e1, #70bae2, #85c2e2, #99c9e3, #acd1e4, #bed8e5);

}

h1 {
  font-family: 'Aquatico';
  font-size: 2.75rem;
  text-transform: uppercase;
}

h2 {

}

@media screen and (min-width: 568px) {
  h1 {
    font-size: 8rem;
  }
  
  h2 {
    font-size: 1.5rem;
    flex-direction: row;

    span {
      // letter-spacing: 0.25rem;
      font-size: 0.75rem;
    }
  }
}
