.blog {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;


  h1 {
    transform: skewY(-7deg);
    letter-spacing: 2px;
    font-family: 'Aquatico';
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #60c0f0, 0 0 20px #60c0f0, 0 0 30px #60c0f0;
  }

  header {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    overflow: hidden;
  }
}