.blog {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  font-family: 'Aquatico';
  font-size: 3.75rem;
  text-shadow: 0 0 5px #fff, 0 0 10px #60c0f0, 0 0 20px #60c0f0, 0 0 30px #60c0f0;
  color: white;

  div {
    transform: skewY(-7deg);
    letter-spacing: 2px;
  }
}