.internal-page {
  // header {
  //   text-align: center;
  //   padding: 41px;
  // }

  header {
    padding: 200px 50px;
    text-align: center;
    @include container-small;

    @media screen and (max-width: $tablet) {
      padding: 150px 36px;
    }
  }

  h1 {
    margin: 0;
    width: 100%;
  }

  nav.utility {
    display: none;
  }
}

.about-page {
  position: relative;

  &::before {
    content: "சத்யா";
    position: fixed;
    top: 500px;
    left: 50%;
    z-index: 0;
    opacity: 0.3;
    font-size: 25rem;
    background: linear-gradient(135deg, rgba(112, 213, 255, 0.9), rgba(0, 89, 188, 0.9), rgba(112, 213, 255, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: endlessly 10s ease infinite;
    color: #d7dde6;
    transform: translateX(-50%) translateY(-50%);
  }

  a {
    color: $lightning;
  }

  main {
    @include container;
    .content {
      font-size: 30px;
      max-width: 580px;
      margin: 0 auto;
    }
  }

  .about-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;

    .about-title {
      width: 300px;
      padding-right: 50px;
      font-family: $maison;
      font-size: $h5;
      color: $ocean;
    }

    .about-content {
      font-size: 30px;
      width: calc(100% - 250px);
    }

    hr {
      border-color: $petal;
    }

    li {
      span {
        display: block;
        font-size: 20px;
        color: #7f91ad;
        margin-top: -5px;
        margin-bottom: 5px;
      }
    }
  }
}

.portraits-page,
.lifestyle-page {
  .background {
    background-image: none !important;
  }
}

.photography-content {
  padding: 0 50px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;

  > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    @media screen and (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    .photography-image {
      flex-basis: 32%;
      cursor: pointer;
      margin: 1%;
    }
  }
}

// .lifestyle-page {
//   .photography-content {
//     overflow: hidden;
//     img {
//       float: left;
//       width: 32%;
//     }
//   }
// }

.tl-cover-el {
  background-image: url("/midnight-sky.jpg") !important;
  background-size: cover;
  background: $lavender !important;
}
