.about-page {
  h1 {
    margin: 0;
    width: 100%;
  }

  header {
    padding: 200px 50px;
    text-align: center;
    @include container-small;

    @media screen and (max-width: $tablet) {
      padding: 150px 36px;
    }
  }

  main {
    @include container;
    .content {
      font-size: 30px;
      max-width: 580px;
      margin: 0 auto;
    }
  }

  .about-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;

    .about-title {
      width: 300px;
      padding-right: 50px;
      font-family: $maison;
      font-size: $h5;
    }

    .about-content {
      font-size: 30px;
      width: calc(100% - 250px);
    }
  }
}

.internal-page {
  header {
    text-align: center;
    padding: 41px;
  }

  h1 {
    width: 100%;
    margin: 0;
    font-size: 24px;
  }
}

.photography-content {
  padding: 50px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;

  > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media screen and (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    .photography-image {
      flex-basis: 32%;
      cursor: pointer;
      margin: 1%;
    }
  }
}

.lifestyle-page {
  .photography-content {
    overflow: hidden;
    img {
      float: left;
      width: 32%;
    }
  }
}