nav {
  // padding: 20px;
  // box-shadow: 0 0 15px 0 rgba(#cecece,0.8);
}

.main-menu {
  width: 400px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #fff;
  transform:translateX(calc(100% - 25px));
  display: flex;
  align-items: center;
}

.menu-trigger {
  display: block;
  margin-left: -15px;

  span {
    display: block;
    width: 30px;
    margin-top:4px;
    height: 4px;
    background: #52a2e4;
  }
}

li {
  display: inline-block;
  
  a {
    display: inline-block;
    padding: 1rem 0.5rem;

    @media screen and (min-width: 362px) {
      padding: 1rem;
    }
  }
}

.social-media {
  width: 25px;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  a {
    margin-left: 15px;
    display:inline-block;
    color: #52a2e4;
    padding: 5px 0;
    font-size: 24px;
  }
}