#loader {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background: #fff;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms linear;

  &::after {
    content: "";
    position: absolute;
    height: 0;
    bottom: -30px;
    right: 0;
    z-index: -9;
    border-style: solid;
    border-width: 30px 50vw 0 50vw;
    border-color: #fff transparent transparent transparent;
  }

  &.gone {
    transform: translateY(calc(-100% + 25px));
    z-index:2;

    .logo {
      top: 103%;
    }
  }
}

.logo {
  position: fixed;
  transition: all 500ms linear;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform:translateX(-50%) translateY(-50%);

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
    img {
      width: 90px;
      height: auto;
      filter: drop-shadow(5px 0 15px white);
  }
}