#loader {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background: #fff;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &::after {
    content: "";
    position: absolute;
    height: 0;
    bottom: -30px;
    right: 0;
    z-index: -3;
    border-style: solid;
    border-width: 30px 50vw 0 50vw;
    border-color: #fff transparent transparent transparent;
  }

  &.gone {
    transform: translateY(calc(-100% + 25px));
    z-index:2;

    .logo {
      top: 102%;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    margin-left: -80px;
    margin-top: -80px;
    border-width: 80px;
    opacity: 0;
  }
}

.logo {
  position: fixed;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  top: 50%;
  left: 50%;
  z-index: 9;
  transform:translateX(-50%) translateY(-50%);
  animation: loading 1s ease;

  &:hover {
    filter: drop-shadow(0 -5px 10px rgba(74, 74, 74,0.2));    

    &::before {
      -webkit-animation: pulse 2s 0.25s infinite;
      animation: pulse 2s 0.25s infinite;
    }

    &::after {
      -webkit-animation: pulse 2s infinite;
      animation: pulse 2s infinite;
    }
  }
    img {
      width: 100px;
      height: auto;
  }

  &::before {
    width: 0;
    height: 0;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid #3178d5;
    opacity: 1;
    z-index: -1;
    transform: translateZ(-1px);
    transform-style: preserve-3d;
}

  &::after {
    width: 0;
    height: 0;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid #3178d5;
    opacity: 1;
    z-index: -1;
    transform: translateZ(-1px);
    transform-style: preserve-3d;
  }
}

@keyframes loading {
  0% {
    transform: translate(-50%, -250%);
  }

  20% {
    transform: translate(100%, -50%);
  }

  40% {
    transform: translate(-50%, 150%);
  }

  60% {
    transform: translate(-200%, -50%);
  }

  80% {
    transform: translate(-50%, -250%);
  }

  100% {
    transform: translateX(-50%, -50%);
  }
}