#loader {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms ease;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));
  

  &::after {
    content: "";
    position: absolute;
    height: 0;
    bottom: -30px;
    right: 0;
    z-index: -3;
    border-style: solid;
    border-width: 30px 50vw 0 50vw;
    border-color: #fff transparent transparent transparent;
  }

  &.gone {
    transform: translateY(calc(-100% + 25px));
    z-index: 6;

    .logo {
      top: 102%;
    }
  }

  &.zoom {
    transform: translateY(0%);

    .logo {
      top: 51%;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    margin-left: -80px;
    margin-top: -80px;
    border-width: 80px;
    opacity: 0;
  }
}

.logo {
  position: fixed;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms ease;

  top: 50%;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%) translateY(-50%);
  animation: loading 1.9s ease;

  &:hover {
    &::before {
      -webkit-animation: pulse 2s 0.25s infinite;
      animation: pulse 2s 0.25s infinite;
    }

    &::after {
      -webkit-animation: pulse 2s infinite;
      animation: pulse 2s infinite;
    }
  }
  img {
    width: 100px;
    height: auto;
  }

  &::before {
    width: 0;
    height: 0;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid #3178d5;
    opacity: 1;
    z-index: -1;
    transform: translateZ(-1px);
    transform-style: preserve-3d;
  }

  &::after {
    width: 0;
    height: 0;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid #3178d5;
    opacity: 1;
    z-index: -1;
    transform: translateZ(-1px);
    transform-style: preserve-3d;
  }
}

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:rgba(0,0,0,0.8);
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid #31b4d5;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}

@keyframes loading {
  0% {
    opacity: 1;
    transform: translate(-50%, -250%);
  }

  20% {
    transform: translate(100%, -50%);
  }

  40% {
    transform: translate(-50%, 150%);
  }

  60% {
    transform: translate(-200%, -50%);
  }

  80% {
    transform: translate(-50%, -250%);
  }

  100% {
    transform: translateX(-50%, -50%);
  }
}
