.about {
  text-align: left;
  font-family: "Aquatico";

  @media screen and (max-width: 800px) {
    padding: 30% 2rem 10%;
  }
  header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/images/about.jpg");
    background-attachment: fixed;
  }

  .branding {
    flex-direction: row;
  }
}
.about-header {
  padding: 0 10rem 10%;
  width: 100%;
  color: #fff;
  font-size: 56px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/about.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center 42%;
  background-repeat: no-repeat;

  @media screen and (max-width: 800px) {
    font-size: 42px;
    padding: 30% 4rem 10%;
  }

  @media screen and (max-width: 600px) {
    font-size: 32px;
  }
}
