$transfix: translateZ(0);
$color-midnight: #222639;
$color-twilight: #001f6d;
$color-slate: #303030;
$color-gray: #f2f2f2;

$breakpoint-sm-max: 768px;
$breakpoint-md-max: 768px;
$breakpoint-xs-max: 768px;
$breakpoint-max: 1184px;

.framicons {
  display: block;
  width: 100%;
  margin: 0;
  padding-bottom: 5rem;
  position: relative;
  z-index: 2;

  &::after {
    content: "";
    width: 100%;
    height: 690px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,
    rgba(75, 184, 236, 0.7) 50%, #f8f8f8 80%);
  }

  .web,
  .graphic,
  .photography {
    display: inline-block;
    margin: 0;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    perspective: 1000px;

    > div {
      perspective: 1000px;
      animation-fill-mode: none;
    }

    @media screen and (max-width: 400px) {
      margin: 65px 0 0;
    }

    &:hover {
      .skills {
        transform: translateY(-30px);
        text-shadow: 0 0 20px white;
      }
      .card-wrapper {
        transform: rotateY(180deg) translateZ(1px);
        box-shadow: 0px 40px 40px -10px rgba(0, 0, 0, 0.15);

        .back {
          color: $color-midnight;
        }
      }
    }
  }
}

.card-wrapper {
  display: block;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
  color: #ffffff;
  transition: box-shadow 300ms ease, transform 300ms ease;
  z-index: 1;
  width: 325px;
  height: 375px;
  perspective: 1000px;

  @media (max-width: $breakpoint-md-max) {
    width: 300px;
    height: 350px;
    margin: 0 auto;
  }
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front {
  text-align: center;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.back {
  position: absolute;
  padding: 30px;
  top: 0;
  left: 0;
  background: #ffffff;
  color: #ffffff;
  font-size: 1rem;
  line-height: 120%;
  z-index: 9;
  display: flex;
  transform: rotateY(-180deg) translateZ(60px);

  @media (max-width: $breakpoint-md-max) {
    font-size: 16px;
  }
}

