$iphone: 360px;
$phone: 420px;
$tablet: 640px;
$screen: 1080px;
$desktop: 1440px;

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #0a0a15;
  background-image: radial-gradient(800px 720px at 54% 72%, rgba(0, 0, 0, 0.25), #100e17, #100e17, #100e17);
  background-position: 50% 140%;
  color: white;
}

header,
main,
footer {
  background-color: #100e17;
  width: 100vw;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 6.25rem;
  letter-spacing: 0.5rem;
  font-family: "Aquatico", sans-serif;
  text-shadow: 0 0 5px #fff, 0 0 15px #fff;
  text-shadow: 0 0 5px #fff, 0 0 15px rgba(255, 255, 255, 0.3), 0 3px 0 #37b6f5, 0 0 30px #60c0f0;
  position: relative;
  line-height: 100%;
  padding-bottom: 0.5rem;
  transition: text-shadow 300ms ease;

  @media screen and (max-width: $tablet) {
    font-size: 4rem;
  }

  @media screen and (max-width: $iphone) {
    font-size: 3.1rem;
  }
}

h2 {
  font-size: 1.45rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: letter-spacing 300ms ease;

  @media screen and (max-width: $phone) {
    font-size: 1rem;
  }

  span {
    color: #65adf1;
    transition: transform 300ms linear;
    transform-origin: center center;
    font-size: 1.15rem;
    display: inline-block;
    position: relative;
  }
}

main {
  padding: 2rem;

  ~ footer {
    margin: 0;
    padding: 14rem 2rem;
    &::before {
      content: none;
    }
  }
}

.routeMe {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(189px, 1fr));
  min-height: 200px;
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

h3 {
  margin-top: -1.35rem;
  margin-left: 0.5rem;
  padding: 0.5rem 0;
  padding-left: 0.55rem;
  display: table;
  font-size: 1rem;
  letter-spacing: 0.35rem;
  font-family: "Aquatico";
  background-color: #100e17;
  z-index: 1;
  position: relative;
  border: 1px solid transparent;

  @media screen and (max-width: $tablet) {
    font-size: 1rem;
  }
}

a.router {
  margin: 4% 0 0;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1%;
  font-size: 2rem;
  position: relative;

  @media screen and (max-width: $tablet) {
    max-width: 325px;
    width: 100%;
    margin: 4% auto 0;
  }

  @media screen and (max-width: $tablet) {
    max-width: 225px;
  }

  &#playground {
    &:hover {
      .scene {
        background-image: linear-gradient(
          to right top,
          #8c1257,
          #801e65,
          #712971,
          #5e327a,
          #473980,
          #3f3a83,
          #353c87,
          #273d8a,
          #323a8f,
          #3d3592,
          #4a3095,
          #572896
        );
      }
    }
  }

  &#photography {
    &::after {
      background-image: radial-gradient(440px 600px at center, rgba(0, 0, 0, 0.05), #100e17, #100e17, #100e17);
      // content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  &#about {
    &:hover {
      transform: rotate(-1deg);
    }
    &::after {
      background-image: radial-gradient(440px 600px at center, rgba(0, 0, 0, 0.05), #100e17, #100e17, #100e17);
      // content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  img {
    transition: transform 300ms ease;
  }

  &:hover {
    border: 1px solid #006eff;
    box-shadow: 0 0 2px 0 rgba(#cbe2ff, 0.6);

    img {
      transform: scale(1.1);
    }

    h3 {
      border: 1px solid #006eff;
    }
  }

  &:nth-child(1) {
    color: rgb(249, 183, 252);
  }

  &:nth-child(2) {
    color: rgb(252, 183, 206);
  }

  &:nth-child(3) {
    color: rgb(253, 228, 161);
  }

  &:nth-child(4) {
    color: rgb(161, 253, 184);
  }

  &:nth-child(5) {
    color: rgb(161, 250, 253);
  }

  &:nth-child(6) {
    color: rgb(253, 161, 161);
  }

  &#websites {
    &:hover {
      .track {
        perspective: 200px;
      }
      img {
        // transform: scale(1.1);
      }
    }
    img {
      position: absolute;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
      transform: rotateY(-30deg) rotateX(5deg);
      display: block;
      z-index: 0;
    }
  }

  &#designs {
    perspective: 1000px;

    .grid {
      display: grid;
      margin: 2rem 0 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
      transform: rotateY(40deg) rotateX(0deg);
      animation: suspend 5s ease-in-out alternate infinite;

      img {
        background: white;
      }
    }
  }

  &#about {
    img {
      pointer-events: none;
    }

    img:nth-of-type(2) {
      position: absolute;
      z-index: -1;
      top: 10px;
      left: 0;
    }

    &:hover {
      img:nth-of-type(1) {
        opacity: 0;
      }
    }
  }
}

.headings {
  margin-top: -20rem;
  position: relative;
  display: block;
  z-index: 1;
  padding: 0 1rem;
  transition: transform 300ms ease;
  cursor: url("/images/ram-logo-white.png"), auto;

  @media screen and (max-width: $tablet) {
    margin-top: -15rem;
  }

  &:hover {
    transform: skewY(-5deg);

    h1 {
      text-shadow: 0 0 5px #fff, 0 0 15px rgba(255, 255, 255, 0.3), 0 5px 0 #60c0f0, 0 0 30px #60c0f0, 0 0 50px #60c0f0;
    }

    h2 span {
      transform: rotate(405deg);
      top: 2px;
    }

    .pronounce {
      opacity: 1;
      transform: translate(-50%, -1.5rem);
    }
    h2 {
      letter-spacing: 6px;
    }
  }
}

.scroll-more {
  width: 26px;
  position: absolute;
  bottom: 110px;
  left: calc(50% - 13px);
  margin: 0 auto;
  font-size: 2rem;
  color: white;
  opacity: 1;
  transition: opacity 300ms ease;
  pointer-events: none;
  text-align: center;
  animation: bounce 3s infinite cubic-bezier(0.37, 0, 0.21, 1.02);
}

.track {
  perspective: 2000px;
  position: absolute;
  width: 105%;
  padding-bottom: 60%;
  top: 20%;
  z-index: 4;
  transition: perspective 300ms ease;
  left: -7%;
}

.container {
  margin: 1rem 1rem 0.6rem;
}

.desktop {
  width: 95%;
  top: 0;
  left: 12%;
  -webkit-transform: rotateY(-30deg) rotateX(5deg) translateX(-50%);
  transform: rotateY(-30deg) rotateX(5deg) translateX(-50%);
}

.tablet {
  width: 50%;
  top: 20%;
  z-index: 1;
}

.phone {
  width: 24%;
  top: 69%;
  left: 33%;
  z-index: 2;
}

.role {
  padding: 5px 10px 7px 20px;
  position: relative;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  font-weight: bold;
}

.role::before {
  width: 26px;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -13px;
}
.Forum::before {
  content: url("/icons/f1.svg");
}
.Lehigh::before {
  width: 20px;
  left: -10px;
  top: calc(50% + 1px);
  content: url("/icons/lehigh.svg");
}
.Project::before {
  content: url("/images/ram-logo-white.svg");
}
.Weidenhammer::before {
  width: 24px;
  left: -11px;
  top: calc(50% + 1px);
  content: url("/icons/weidenhammer.svg");
}

.pronounce {
  margin-top: -0.75rem;
  color: white;
  border-radius: 12px;
  font-size: 12px;
  padding: 0.45rem 1.5rem 0.45rem;
  letter-spacing: 0.5px;
  display: inline-block;
  font-style: italic;
  border-top: 1px solid rgba(80, 220, 255, 0.7);
  border-bottom: 1px solid rgba(11, 148, 182, 0.7);
  position: absolute;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  top: 0;
  transition: opacity 300ms ease, transform 300ms ease;
}

@keyframes growMe {
  0% {
    border-color: white;
  }

  100% {
    border-color: #37b6f5;
    
  }
}

.logo {
  width: 200px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  transition: all 500ms ease;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;

  &.loaded {
    top: 45px;
    width: 122px;
    pointer-events: auto;

    &::after {
      transform: translateX(-50%) translateY(-50%) scale(0);
      opacity: 0;
      background-color: rgb(129, 177, 253);
    }

    @media screen and (max-width: $screen) {
      width: 95px;
    }
  }

  &::after {
    content: "";
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    top: 50%;
    left: 50%;
    transform-origin: center center;
    border-radius: 50%;
    pointer-events: none;
    border: 150px solid #37b6f5;
    animation: growMe 1s ease forwards;
    transform: translateX(-50%) translateY(-50%) scale(2);
    z-index: -1;
    transition: opacity 1s ease, transform, transform 800ms ease, background 900ms ease;
  }

  &:hover {
    transform: translateX(-50%) translateY(-45%) scale(1.1);

    ~ .triangles::after,
    ~ .triangles::before {
      transform: translate(0, 0);
      opacity: 1;
    }

    ~ header {
      .photobooth div {
        &:nth-child(1) {
          transform: translateY(50px);
          opacity: 0;
        }
        &:nth-child(2) {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  img {
    position: relative;
    top: 0;
    transition: all 300ms ease;
    transform: scale(0.82);
  }

  &:hover img {
    transform: scale(1);
  }

  .menuTrigger {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    width: 100%;
    height: auto;
    display: inline-block;
  }

  svg {
    width: 100%;
    height: auto;
  }

  path.s-line {
    stroke: #11c7ff;
    stroke-width: 0.5px;
    stroke-dasharray: 147;
    stroke-dashoffset: 147;
    animation: line-animate 2.7s ease forwards, white-stroke 800ms ease forwards 2.6s;
  }
  path.r-line {
    stroke: #14111d;
    stroke-width: 0.5px;
    stroke-dasharray: 199;
    stroke-dashoffset: 199;
    fill: transparent;
    animation: line-animate 2.5s ease forwards 0.2s, white-stroke 800ms ease forwards 2.6s,
      fill-black 3s ease forwards 1.5s;
  }
  .st1 {
    fill: #14111d;
    stroke: #fff;
    stroke-width: 12;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1;
  }
}

.triangles {
  &::before {
    content: "";
    position: fixed;
    height: 0;
    top: 0;
    right: 0;
    z-index: 5;
    transition: transform 300ms ease, border 300ms ease;
    transform: translateX(50px);
    border-style: solid;
    border-width: 50vh 50px 50vh 0;
    border-color: transparent white transparent transparent;
  }

  &::after {
    content: "";
    position: fixed;
    height: 0;
    top: 0;
    left: 0;
    z-index: 5;
    border-style: solid;
    transition: transform 300ms ease, border 300ms ease;
    transform: translateX(-50px);
    border-width: 50vh 0 50vh 50px;
    border-color: transparent transparent transparent white;
  }
}

.menu {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  padding: 2.5rem 13rem 2rem;
  left: 0;
  z-index: 10;
  background: #fff;
  transform: translateY(-100%);
  opacity: 1;
  transition: all 500ms ease;
  border-bottom: 1px solid white;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));

  @media screen and (max-width: $screen) {
    padding: 5rem 2.5rem 0.5rem;
  }

  &::after {
    content: "";
    position: absolute;
    height: 0;
    bottom: -51px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
    border-style: solid;
    border-width: 50px 50vw 0 50vw;
    border-color: white transparent transparent transparent;
  }

  ul {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;

    @media screen and (max-width: $screen) {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    li {
      opacity: 0;
      transform: translateY(-70px);

      &:nth-of-type(1) {
        transition: opacity 300ms ease 150ms, transform 150ms ease 150ms;
      }
      &:nth-of-type(2) {
        transition: opacity 300ms ease 300ms, transform 300ms ease 200ms;
      }
      &:nth-of-type(3) {
        transition: opacity 300ms ease 450ms, transform 450ms ease 200ms;
      }
      &:nth-of-type(4) {
        transition: opacity 300ms ease 600ms, transform 600ms ease 200ms;
      }
      &:nth-of-type(5) {
        transition: opacity 300ms ease 750ms, transform 750ms ease 200ms;
      }
      &:nth-of-type(6) {
        transition: opacity 300ms ease 900ms, transform 900ms ease 200ms;
      }

      a {
        display: inline-block;
        color: #100e17;
        font-weight: normal;
        font-size: 0.75rem;
        text-align: center;
        transition: all 300ms ease;

        &.is-active span {
          color: rgba(10, 153, 248, 0.9);
        }

        &:hover {
          color: rgb(8, 77, 122);

          &::before {
            left: 0;
            right: auto;
            width: 105%;
          }

          &::after {
            left: auto;
            right: 0;
            width: 105%;
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 0;
          top: 28px;
          height: 9px;
          z-index: -2;
          background-color: #63b5f8;
          background: linear-gradient(135deg, rgba(112, 213, 255, 0.7), rgba(0, 89, 188, 0.7));
          right: 0;
          transform: skew(-12deg);
          transition: width 0.3s cubic-bezier(0.37, 0, 0.21, 1.02);
        }

        &::after {
          content: "";
          position: absolute;
          width: 0;
          top: 40px;
          height: 13px;
          z-index: -1;
          background-color: #63b5f8;
          transform: skew(-15deg);

          background: linear-gradient(135deg, rgba(181, 229, 251, 0.8), rgba(243, 243, 243, 0.9) 50%);
          left: 0;
          transition: width 0.3s cubic-bezier(0.37, 0, 0.21, 1.02);
        }

        @media screen and (max-width: $screen) {
          padding-bottom: 0.5rem;
        }

        span {
          font-weight: bold;
          font-size: 2rem;
          display: block;
          transition: letter-spacing 300ms ease;
          letter-spacing: -2px;

          @media screen and (max-width: $screen) {
            font-size: 1.5rem;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}

.eyebrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50px);
  width: 100%;
  padding: 0 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  filter: drop-shadow(0px -5px 15px rgba(0, 0, 0, 0.05));
  transition: padding 300ms ease, bottom 300ms ease;

  &:hover {
    bottom: 50px;
  }

  &::after {
    content: "";
    position: fixed;
    height: 0;
    bottom: calc(100% - 1px);
    left: 50%;
    transition: transform 300ms ease 300ms, opacity 300ms ease 300ms, border 300ms ease;
    transform: translateX(-50%) translateY(0);
    z-index: -1;
    border-style: solid;
    border-width: 0 50vw 50px 50vw;
    border-color: transparent transparent white transparent;
  }
}

.social-media {
  max-width: 300px;
  width: 100%;
  margin: -1.2rem auto 0;
  z-index: 5;
  transition: padding 300ms ease;
  display: flex;
  justify-content: center;

  a {
    display: inline-block;
    position: relative;
    flex: 1 1 0;
    padding: 2px 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: transparent;
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 5px rgba(91, 181, 255, 0.3));

    @media screen and (max-width: 640px) {
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        display: none;
      }
    }

    &::before {
      width: 19px;
      opacity: 0.85;
      filter: invert(1);
      position: absolute;
      top: -10px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      transition: all 300ms ease;
    }

    &::after {
      content: "";
      border-radius: 50%;
      width: 74px;
      height: 74px;
      position: absolute;
      top: -2.15rem;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%) scale(0.3);
      opacity: 0;
      transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:hover {
      color: white;
      text-shadow: 0 0 2px white;
      filter: none;

      &::after {
        transform: scale(1) translateX(-50%) translateZ(0);
        opacity: 1;
      }

      &::before {
        top: -1rem;
        width: 25px;
        opacity: 0.9;
        filter: none;
      }
    }

    &:nth-child(1)::before {
      content: url("/icons/instagram.svg");
    }

    &:nth-child(1)::after {
      background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    }

    &:nth-child(2)::before {
      content: url("/icons/dribbble.svg");
    }

    &:nth-child(2)::after {
      background: #e83e80;
    }

    &:nth-child(3)::before {
      content: url("/icons/github.svg");
    }

    &:nth-child(3)::after {
      background: #552775;
    }

    &:nth-child(4)::before {
      content: url("/icons/codepen.svg");
    }

    &:nth-child(4)::after {
      background: rgb(24, 24, 24);
    }
  }
}

.contact {
  a {
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: rgb(192, 192, 192);
    position: relative;
    transition: color 300ms ease-in-out;

    @media screen and (max-width: $phone) {
      padding: 0.25rem;
    }

    &:first-child {
      color: #63b5f8;
    }

    &:nth-child(3) {
      color: #41a4f5;
    }

    &:nth-child(5) {
      color: #1b88e2;
    }

    &:hover {
      color: black;

      &:not(.music)::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      bottom: 0rem;
      height: 2px;
      background-color: #63b5f8;
      background: linear-gradient(135deg, rgba(112, 213, 255, 0.8), rgba(0, 89, 188, 0.9));
      right: 0;
      -webkit-transition: width 0.3s cubic-bezier(0.37, 0, 0.21, 1.02);
      transition: width 0.3s cubic-bezier(0.37, 0, 0.21, 1.02);
    }
  }
}

.is-open {
  &::after {
    opacity: 1;
  }

  .logo {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  @media screen and (min-width: $screen) {
    .logo {
      top: 50%;
      transform: translateX(-50%) translateY(-50%) scale(2);
    }
  }
  .menu {
    transform: translateY(0);

    li {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .triangles::after,
  .triangles::before {
    transform: translate(0, 0);
  }

  .triangles::after {
    border-width: 50vh 0 50vh 100px;
  }

  .triangles::before {
    border-width: 50vh 100px 50vh 0;
  }

  .eyebrow {
    padding-bottom: 4rem;
    transform: translateX(-50%) translateY(50px);

    &:hover {
      bottom: 0;
    }
  }

  .social-media {
    padding: 2rem 0 0.5rem;
    a {
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        display: inline-block;
      }
    }
  }
}

.scene {
  background-color: rgb(191, 240, 255);
  background: linear-gradient(0deg, rgba(112, 213, 255, 0.8), #bff0ff);
  width: calc(100% - 2rem);
  height: calc(100% - 2.5rem);
  min-height: 305px;
  border-bottom: 1rem solid #100e17;
  margin: 0 1rem;

  @media screen and (max-width: $desktop) {
    min-height: 230px;
  }
}

.cloud {
  animation: animateclouds 30s infinite linear;
  background-color: #f4f8fc;
  border-radius: 3rem;
  border-left: 3px solid #e8f0f7;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(239, 239, 239, 0.1);
  width: 12rem;
  height: 4rem;
  top: 70%;
  left: -10%;
  z-index: 3;
  position: absolute;

  &::before {
    width: 100px;
    height: 100px;
    top: -45px;
    left: 25px;
    z-index: 2;
    background: #f0f8ff;
    border-radius: 50%;
    border-left: 3px solid #e8f0f7;
    content: "";
    display: block;
    position: absolute;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: #f0f8ff;
    border-radius: 50%;
    border-left: 3px solid #e8f0f7;
    width: 60px;
    z-index: 2;
    height: 60px;
    top: -20px;
    left: 100px;
  }

  &.cloud1 {
    top: 20%;
    animation: animateclouds 18s infinite linear;
    z-index: 0;
  }
}

.island {
  width: 110px;
  height: 16px;
  border-radius: 5px;
  background: linear-gradient(180deg, rgb(0, 252, 0), limegreen);
  background: linear-gradient(0deg, #1ab306, #acf036);
  position: absolute;
  opacity: 0.95;
  animation: title-hover 2s ease-in-out infinite alternate;
}

.island::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  height: 30px;
  background: #bb8738;
  background: #dd9c42;
  background: #bd7c26;
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.2);
  width: 100px;
  transform: translateX(-50%);
}

.island1 {
  top: 43px;
  right: -3%;
  z-index: 1;
}

.island2 {
  position: absolute;
  top: 115px;
  left: 0;
  width: 150px;
  transform: scale(0.9);
}
.island2::after {
  height: 60px;
  width: 135px;
}

.island3 {
  top: 15%;
  right: 38%;
  transform: scale(0.3);
}

.waterfall {
  width: 15px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(115, 225, 255, 0), #73e1ff, #0da6ff);
  margin-left: 25px;
  margin-top: 0px;
  border-top-left-radius: 4px;
}
.waterfall2 {
  width: 35px;
  height: 250px;
  margin-left: 90px;
  border-top-left-radius: 0px;
  border-top-right-radius: 6px;
  background-image: linear-gradient(0deg, rgba(115, 225, 255, 0), rgba(115, 225, 255, 0.7), #0da6ff);
}

.waterfall3 {
  width: 5px;
}

.aboutMe {
  max-width: 640px;
  line-height: 150%;
  font-size: 1.5rem;
  margin-top: 2rem;
  width: 100%;
  color: white;
  margin: 0 auto;
  text-align: center;

  p {
    max-width: 640px;
    line-height: 150%;
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 100%;
    color: white;
    margin: 0 auto;
    text-align: center;
  }

  .gamer {
    font-size: 1rem;
    margin-top: 2rem;
  }

  h4 {
    font-size: 2rem;
    position: relative;
    z-index: 2;
    display: inline-block;

    span {
      color: #4dbef6;
      display: inline-block;
      right: -4px;
      font-family: "Aquatico";
      z-index: -1;
      font-size: 3rem;
      position: relative;
      transform: rotate(3deg);
      cursor: pointer;
      top: 8px;

      &:hover {
        color: white;
        text-shadow: 0 0 5px #ffffff, 0 0 14px #37b6f5;
      }
    }
  }
}

.battlenet {
  color: #0b94dd;
  padding-left: 1.5rem;
  cursor: pointer;
  position: relative;
}

.battlenet:hover::after,
.discord:hover::after {
  opacity: 1;
}

.battlenet::after {
  content: "Sathya#1492";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2.15rem;
  color: rgb(125, 207, 255);
  padding: 0 0.5rem;
  background-color: rgba(56, 137, 236, 0.6);
  opacity: 0;
  padding-bottom: 0.25rem;
  box-shadow: 2px 2px 0 0 rgb(125, 207, 255);
}

.discord {
  color: #7289da;
  cursor: pointer;
  padding-left: 1.5rem;
  position: relative;
}

.discord::after {
  content: "Sathex#6172";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2.15rem;
  color: rgb(214, 152, 255);
  padding: 0 0.5rem;
  background-color: rgba(74, 85, 189, 0.6);
  opacity: 0;
  padding-bottom: 0.25rem;
  box-shadow: 2px 2px 0 0 rgb(214, 152, 255);
}

.discord::before {
  content: url("/icons/discord.svg");
  width: 19px;
  height: auto;
  position: absolute;
  top: 0;
  left: 3px;
  display: block;
  z-index: 2;
}

.battlenet::before {
  content: url("/icons/battlenet.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 1px;
  display: block;
  z-index: 2;
}

footer {
  bottom: 0;
  align-items: center;
  padding: 9rem 2rem;
  margin-top: 3rem;
  position: relative;
  z-index: 3;
  background-image: radial-gradient(ellipse at 50% 46%, #092b48 0, #0d1323 45%, #100e17 60%);
  @media screen and (max-width: $tablet) {
    margin-top: 6rem;
  }
  @media screen and (max-width: $phone) {
    padding: 10rem 1rem;
  }
  &::before {
    content: "";
    border-style: solid;
    border-width: 0 50vw 50px 50vw;
    border-color: transparent transparent #100e17 transparent;
    width: 0;
    height: 0;
    transform: translateX(-50%) translateY(0);
    position: absolute;
    left: 50%;
    top: -50px;
  }
}

.hire-me {
  font-size: 1.5rem;
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 3rem 5rem;
  transition: box-shadow 400ms ease;
  background-color: #100e17;
  color: #fff;
  cursor: url("/images/ram-logo-white.png"), auto;

  @media screen and (max-width: $tablet) {
    padding: 2rem 3rem;
  }
  @media screen and (max-width: $phone) {
    padding: 2rem;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    top: -30px;
    left: -30px;
    position: absolute;
    z-index: -1;
    transition: all 300ms ease;
    background-image: linear-gradient(180deg, #1fadff 0%, #8fd5fd 100%);
    
    @media screen and (max-width: $tablet) {
      width: calc(100% + 60px);
      height: calc(100% + 60px); 
    }
    
  }

  a {
    font-size: 1.25rem;
    text-underline-position: under;
    color: #2c9dd1;
    text-shadow: none;
    display: block;
    font-family: Aquatico;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    line-height: 150%;
    cursor: pointer;
  }

  p {
    line-height: normal;
    margin: 0;

    &::first-letter {
      color: #8fd5fd;
    }
  }

  span {
    font-size: 2.75rem;
  }

  &:hover {
    background-color: #0a65ce;
    color: #fff;
    box-shadow: 32px 32px 0px 0px #1fadff, 40px 40px 0px 0px #0a0a15, 64px 64px 0px 0px #0a65ce,
      72px 72px 0px 0px #0a0a15, 96px 96px 0px 0px #1fadff, 104px 104px 0px 0px #0a0a15, 130px 130px 0px 0px #0a65ce,
      137px 137px 0px 0px #0a0a15, 163px 168px 0px 0px #1fadff, 171px 175px 0px 0px #0a0a15, 198px 200px 0px 0px #0a65ce,
      206px 208px 0px 0px #0a0a15, 232px 240px 0px 0px #1fadff, 240px 249px 0px 0px #0a0a15, 265px 277px 0px 0px #0a65ce;

    a {
      color: #fff;
      text-shadow: 0 0 5px #fff, 0 0 20px #60c0f0, 0 0 50px #60c0f0;
    }

    &::before {
      top: 0;
      left: 0;
      width: 100%;
    height: 100%;
    }
  }
}

.framicons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 8rem 0;

  a {
    position: relative;
    z-index: 3;
    font-size: 14px;
    min-height: 70px;
    color: #fff;
    line-height: 50px;
    font-size: 1rem;
    text-align: center;
    flex-basis: 200px;
  }
}

.photobooth {
  position: absolute;
  max-width: 600px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  margin: 0 auto;

  @media screen and (max-width: $tablet) {
    top: 55%;
  }

  &:hover {
    &::before {
      background-color: white;
    }
  }

  &::before {
    content: "";
    width: 300px;
    height: 300px;
    border: 2px solid white;
    box-shadow: 0 0 10px 0 white;
    border-radius: 50%;
    transition: background 600ms ease;
    background-color: transparent;
    position: absolute;
    top: 70px;
    left: 50%;
      transform: translateX(-50%);
    z-index: 0;

    @media screen and (max-width: $tablet) {
      width: 215px;
      height: 215px;
    }
  }

  div {
    transition: opacity 300ms ease, transform 550ms ease;
    position: relative;

    &:nth-child(1) {
      transform: translateY(0px);
      animation: appearing 2s ease;
    }

    &:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transform: translateY(50px);
    }

    &::after {
      background-image: radial-gradient(
        820px 700px at 50% 28%,
        rgba(16, 14, 23, 0.1),
        rgba(16, 14, 23, 0.3),
        rgb(16, 14, 23),
        #100e17
      );
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      @media screen and (max-width: $iphone) {
        content: none;
      }
    }

  }
}

@keyframes background {
  0% {
    background-image: url(/images/me.jpg);
  }
  25% {
    background-image: url(/images/RAM_2051.jpg);
  }
  50% {
    background-image: url(/images/RAM_2059.jpg);
  }
  75% {
    background-image: url(/images/RAM_2007.jpg);
  }
  100% {
    background-image: url(/images/me.jpg);
  }
}

.photo {
  width: 60px;
  height: 75px;
  margin: 0.1rem auto 0;
  border: 7px solid #f2f2f2;
  border-bottom-width: 18px;
  background-color: #131822;
  border-radius: 2px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: background 16s ease 1s forwards infinite;

  &::after {
    content: "";
    width: 103%;
    height: 103%;
    position: absolute;
    top: -1px;
    left: -1px;
    animation: flash 3s forwards 3s infinite;
  }
}

@keyframes line-draw {
  0% {
    stroke: cyan;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
  }
  20% {
    stroke: rgb(5, 255, 25);
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
  }
  40% {
    stroke: rgb(217, 0, 255);
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
  }
  60% {
    stroke: rgb(217, 0, 255);
  }
  60% {
    stroke: rgb(255, 196, 0);
    stroke-dasharray: 15;
    stroke-dashoffset: 15;
  }
  80% {
    stroke: rgb(255, 0, 55);
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
  }
  100% {
    stroke: rgb(94, 66, 255);
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
  }
}

.box {
  width: 60px;
  height: 60px;
  border: 4px solid #f2f2f2;
  background: #080b11;
  margin: 0 auto;
  position: relative;

  .draw {
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.6rem;

    svg {
      width: 100%;
      path {
        stroke-width: 2px;
        stroke: cyan;
        fill: transparent;
        animation: line-draw 8s linear infinite alternate;
      }
    }
  }
}

.anchor {
  position: absolute;
  width: 7px;
  height: 7px;
  top: -6px;
  left: -7px;
  background: #ffffff;
  border: 5px solid #f2f2f2;
}

.anchor:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.anchor:nth-child(3) {
  top: calc(100% + 2px);
  transform: translateY(-50%);
}
.anchor:nth-child(4) {
  top: calc(100% + 2px);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(5) {
  top: calc(100% + 2px);
  left: calc(100% + 2px);
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(6) {
  top: 50%;
  left: calc(100% + 2px);
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(7) {
  top: calc(0% - 1px);
  left: calc(100% + 2px);
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(8) {
  top: calc(0% - 2px);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(9) {
  top: -25px;
  left: 50%;
  border-radius: 50px;
  background: #f2f2f2;
  transform: translateY(-50%) translateX(-50%);
}

.anchor:nth-child(9)::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 26px;
  top: 0px;
  left: 50%;
  background: #f2f2f2;
  transform: translateX(-50%);
}

.monitor {
  width: 90px;
  height: 55px;
  margin: 0 auto;
  background-color: #080b11;
  border: 6px solid #f2f2f2;
  border-radius: 8px;
  position: relative;
}

.screen {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0.45rem;
}

@keyframes bar-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.code {
  animation: 8s scrolling 2s forwards ease infinite;

  .bar {
    width: 100%;
    height: 2px;
    border-radius: 1rem;
    background-color: #1e95f7;
    margin-top: 5px;

    &:nth-child(1) {
      width: 20%;
      animation: bar-width 3s infinite ease-in-out alternate;
    }

    &:nth-child(2) {
      width: 40%;
      background-color: #1e95f7;
      animation: bar-width 5s infinite ease-in-out alternate;
    }

    &:nth-child(3) {
      width: 50%;
      background-color: white;
      animation: bar-width 5s infinite ease-in-out alternate;
    }
    &:nth-child(4) {
      width: 70%;
      background-color: rgb(40, 185, 252);
      animation: bar-width 7s infinite ease-in-out alternate;
    }

    &:nth-child(5) {
      background-color: white;
    }

    &:nth-child(6) {
      background-color: white;
      animation: bar-width 2s infinite ease-in-out alternate;
    }

    &:nth-child(7) {
      width: 60%;
      background-color: white;
    }

    &:nth-child(8) {
      width: 40%;
      background-color: white;
      animation: bar-width 1s infinite ease-in-out alternate;
    }
    &:nth-child(9) {
      width: 30%;
      background-color: white;
    }
    &:nth-child(10) {
      width: 40%;
      background-color: rgb(40, 185, 252);
    }
    &:nth-child(11) {
      width: 65%;
      background-color: rgb(40, 185, 252);
      animation: bar-width 9s infinite ease-in-out alternate;
    }
    &:nth-child(12) {
      width: 95%;
      background-color: rgb(218, 238, 248);
    }

    &:nth-child(12) {
      width: 95%;
      animation: bar-width 2s infinite ease-in-out alternate;
      background-color: rgb(218, 238, 248);
    }

    &:nth-child(13) {
      width: 35%;
      background-color: rgb(218, 238, 248);
    }

    &:nth-child(14) {
      width: 25%;
      background-color: rgb(218, 238, 248);
      animation: bar-width 5s infinite ease-in-out alternate;
    }

    &:last-child {
      width: 60%;
      background-color: rgb(20, 180, 255);
    }
  }
}

.shape {
  position: relative;
  transition: transform 300ms ease;
}

.shape:hover {
  transform: translateY(-5px);
}

.shape:hover::before {
  opacity: 1;
  transform: translateY(25px);
}

.shape::before {
  pointer-events: none;
  position: absolute;
  z-index: 0;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 80%);
  transition: opacity 400ms ease, transform 300ms ease;
}

.shooter {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.base {
  position: absolute;
  width: 13px;
  height: 12px;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  background: #f2f2f2;
}

.base::before,
.base::after,
.grey-shadow::before,
.grey-shadow::after {
  position: absolute;
  content: "";
  top: 0;
}

.base:before {
  border-left: 3px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 12px solid #f2f2f2;
  left: -2.5px;
}

.base:after {
  border-right: 3px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 12px solid #f2f2f2;
  right: -2.5px;
}

.base > div {
  position: absolute;
}

.foot {
  background: #f2f2f2;
  z-index: 1;
}

.foot.top {
  width: 116px;
  height: 5px;
  bottom: -4px;
  left: 50%;
  margin-left: -58px;
}

.foot.top::before,
.foot.top::after,
.foot.bottom::before {
  position: absolute;
  content: "";
  top: 0px;
}

.foot.top::before {
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 5px solid #f2f2f2;
  left: -16px;
}

.foot.top::after {
  border-right: 16px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 5px solid #f2f2f2;
  right: -16px;
}

.foot.bottom {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.fade-in {
  .scroll-more {
    opacity: 0;
    animation: none;
  }
}

@keyframes appearing {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.appears {
  animation: appears 1s linear forwards;
}

@for $i from 1 through 20 {
  $r: $i * 115;
  .appear:nth-child(#{$i}) {
    opacity: 0;
    animation: appearing 600ms linear #{$r}ms forwards;
  }
}

.sticky-filter {
  padding-bottom: 2rem;

  button {
    &:target,
    &:focus,
    &:active {
      border: 1px solid blue;
    }
  }
}

.play-item {
  margin-bottom: 4rem;
}

.codepen {
  height: 600px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 2rem 5rem;

  @media screen and (max-width: $phone) {
    padding: 2rem 1rem 5rem;
  }

  h2 {
    font-size: 4.5rem;
    overflow: hidden;

    @media screen and (max-width: $screen) {
      font-size: 3rem;
      font-weight: bold;
    }

    @media screen and (max-width: $phone) {
      font-size: 1.75rem;
      font-weight: bold;
    }

    div {
      animation: appearing 1s ease forwards;
    }
  }

  h6 {
    font-size: 1.25rem;
    overflow: hidden;
    padding: 0.25rem;
    display: block;
    max-width: 550px;
    width: 100%;
    margin: 0;
    
    @media screen and (max-width: $screen) {
      margin: 0 auto;
    }

    div {
      animation: appearing 1.25s linear forwards;
    }
  }

  .text {
    margin: 8rem 0 6rem;
    width: 100%;

    @media screen and (max-width: $screen) {
      text-align: center;
      margin: 5rem 0;
    }
  }

  .content {
    img {
      width: 100%;
      display: block;
    }
  }

  &.designs {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      @media screen and (max-width: $screen) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
      }
    }
  }

  &.photography {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem;

      @media screen and (max-width: $screen) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
      }

      @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.about {
  padding: 7rem 0 0;
  max-width: 550px;
  margin: 0 auto;
  animation: appearing 3s forwards;
  font-size: 2rem;

  a {
    color: rgb(13, 166, 226);
    border-bottom: 4px dotted rgb(13, 166, 226);
  }
}

@keyframes line-animate {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes white-stroke {
  to {
    stroke: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: url(#grad1);
  }
}

@keyframes fill-black {
  from {
    fill: transparent;
  }

  to {
    fill: #14111d;
  }
}

stop {
  stop-opacity: 0;
  animation: 3s animateStopOpacity forwards 1.5s;
}

@keyframes animateStopOpacity {
  from {
    stop-opacity: 0;
  }
  to {
    stop-opacity: 1;
  }
}

.websites .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  grid-template-rows: auto;

  @media screen and (max-width: $screen) {
    display: block;
  }
}

.project {
  width: 100%;
  padding: 4rem 2.5rem 3rem;
  position: relative;
  border-left-width: 16px;
  border-style: solid;
  transition: all 300ms ease;
  border-radius: 5px;

  @media screen and (max-width: $screen) {
    border-left-width: 0px;
    border-top-width: 10px;
    padding: 2.5rem 1rem;
    margin-bottom: 1rem;
  }
  @media screen and (min-width: $screen) {
    &:hover {
      border-left-width: 11px;
      border-style: dashed;
      transform: scale(1.05);
    }
  }
  .title {
    font-size: 3rem;
    font-family: "Aquatico";
    letter-spacing: 2px;
    position: relative;
    font-weight: bold;
    padding-right: 2.5rem;

    @media screen and (max-width: $screen) {
      font-size: 2rem;
    }
  }

  .etc {
    display: flex;
    margin-bottom: 1rem;

    @media screen and (max-width: $screen) {
      font-size: 0.75rem;
    }
  }

  .subtitle {
    font-size: 1.75rem;

    @media screen and (max-width: $screen) {
      font-size: 1.2rem;
    }
  }

  .tags {
    position: absolute;
    top: 25px;
    right: -5px;
    font-size: 0.6rem;

    @media screen and (max-width: $screen) {
      position: static;
      padding-top: 1rem;
    }
  }
  .tags li {
    display: inline-block;
    margin: 2px;
    padding: 0.35rem;
    border-radius: 2px;
    border-width: 2px;
    letter-spacing: -0.5px;
    border-right-width: 2px;
    border-left-width: 5px;
    border-style: solid;
    font-weight: bold;

    @media screen and (min-width: $screen) {
      &:not(:last-child) {
        margin: 0 0 0.35rem;
      }
      & {
        padding: 0.25rem 0.5rem;
        border-left-width: 2px;
        border-right-width: 5px;
        display: block;
        margin: 0;
      }
    }
  }

  p {
    color: white;
    font-size: 1.1rem;
    max-width: 580px;
    margin-top: 1.5rem;
    line-height: 150%;
  }

  a.website-link {
    margin-top: 1.5rem;
    font-size: 22px;
    display: block;
    padding: 0.5rem 1.25rem;
    color: #131313;
    border-radius: 3px;
    display: inline-block;
    align-items: center;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    transition: color 300ms ease, top 300ms ease, box-shadow 300ms ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    z-index: 2;
    top: 0;
    transform: translateZ(20px);
  }
  a.website-link.https::after {
    content: "https";
    color: #5bc543;
    position: absolute;
    left: -23px;
    top: 52%;
    transform: translateY(-50%);
    font-size: 0.65rem;
    background: rgba(225, 250, 218, 0.9);
    padding: 4px 0.5rem 0.4rem;
    border-radius: 10px;
    transition: opacity 300ms ease;
  }
  a.website-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  a.website-link:hover,
  a.website-link:focus,
  a.website-link:active {
    color: #24afda;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
  a.website-link:hover:before,
  a.website-link:focus:before,
  a.website-link:active:before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
}

a.github,
a.designs {
  padding: 5px 10px 7px 1.75rem;
  display: inline-block;
  transition: background 300ms ease;
  position: relative;
  margin-left: 0.25rem;
}
a.github::before {
  content: url("/icons/github.svg");
  width: 1rem;
  position: absolute;
  top: 7px;
  left: 9px;
  height: auto;
}
a.designs::before {
  content: url("/icons/dribbble.svg");
  width: 1rem;
  position: absolute;
  top: 5px;
  left: 9px;
  height: auto;
}
a.github:hover {
  background: rgba(85, 39, 117, 0.5);
}
a.designs:hover {
  background: rgba(232, 62, 128, 0.5);
}
