aside {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 200px;
  height: 100vh;
  top: 0;
  text-align: center;
  left: 0;
  font-size: 3rem;
  padding: 0.75rem 0 5rem;
  z-index: 1;
}

aside::before {
  content: "";
  transition: opacity 300ms ease;
  position: absolute;
  height: 0;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -3;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 70px 160px 0;
}

aside::after {
  content: "";
  position: absolute;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-color: transparent transparent #fff;
  border-style: solid;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 160px 70px;
}

aside a {
  position: relative;
  z-index: 9;
  font-size: 14px;
  min-height: 70px;
  color: white;
  line-height: 50px;
  font-size: 1rem;
}

header {
  height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 0 6rem 0 3rem;
}

footer {
  background-color: #1c2741;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  color: white;
  overflow: hidden;
}

footer a {
  text-shadow: 0 0 5px #fff, 0 0 20px #60c0f0, 0 0 50px #60c0f0;
  display: block;
  font-size: 2rem;
  font-family: "Aquatico";
  letter-spacing: 0.1rem;
  color: white;
  margin-top: 1rem;
  line-height: 150%;
}

main {
  background-attachment: fixed;
  padding: 3rem 0 0;
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  background-color: transparent;
  transition: background-color 300ms 3s ease;
}

.fade-in main {
  background-color: #131822;
}

main::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #131822;
  transition: background-color 300ms ease;
  z-index: -1;
}

.fade-in main::before {
  background-color: #9fc8ec;
}

header h1,
h2,
p {
  z-index: 2;
}

.pronounce {
  margin-top: -0.5rem;
  color: white;
  border-radius: 12px;
  font-size: 13px;
  padding: 0.45rem 1.5rem 0.35rem;
  display: inline-block;
  font-style: italic;
  border-top: 1px solid rgba(80, 220, 255, 0.7);
  border-bottom: 1px solid rgba(80, 220, 255, 0.7);
  opacity: 0;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  transition: opacity 300ms ease;
}

header > div:hover .pronounce {
  opacity: 1;
}

h1 {
  font-size: 6rem;
  letter-spacing: 0.5rem;
  font-family: "Aquatico";
  text-shadow: 0 0 5px #fff, 0 0 15px #fff;
  cursor: progress;
  z-index: 3;
  position: relative;
}

h1:hover {
  text-shadow: 0 0 5px #fff, 0 0 20px #60c0f0, 0 0 50px #60c0f0;
}

h2 {
  letter-spacing: 0.25rem;
  font-size: 14px;
  font-family: "Aquatico";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.25rem;
  max-width: 740px;
  justify-content: space-between;
}

.skills {
  display: flex;
  flex-direction: column;
  font-size: 1.15rem;
  padding-right: 1rem;
  text-align: center;
}

h2 span {
  font-size: 0.7rem;
  font-weight: lighter;
  font-family: "Barlow";
  text-transform: uppercase;
}

.planet {
  position: absolute;
  top: 43%;
  left: 19%;
  width: 355px;
  height: 355px;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(66deg, #62a3d2, #183e64 44%, #031222);
  box-shadow: inset 0 5px 5px 1px #fff, inset 0 0 5px 1px #fff,
    inset 0 8px 10px 3px #4bb8ec, inset 0 6px 10px 3px #4bb8ec,
    0 0 10px 3px #91cbf5;
  border-radius: 50%;
}

#planet1::after {
  content: '';
  width: 140%;
  height: 140%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 2px solid #afdaf3;
  z-index: 2;
}

#planet1::before {
  content: '';
  width: 180%;
  height: 180%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 2px solid #365161;
  z-index: 2;
}

#planet1 {
  animation: spin 10s linear infinite;
}

#planet2 {
  left: auto;
  right: 10%;
  width: 100px;
  height: 100px;
  filter: blur(5px);
}

#planet3 {
  left: auto;
  right: 20%;
  top:0%;
  width: 210px;
  height: 210px;
  filter: blur(1px);
}

#planet4 {
  left: 40%;
  right: 0%;
  top:80%;
  width: 140px;
  height: 140px;
  animation: spin 19s linear infinite;

}

#planet4::after {
  content: '';
  width: 145%;
  height: 145%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 2px solid #315164;
  z-index: 2;
}

#planet5 {
  left: 40%;
  right: 0%;
  top: 10%;
  width: 60px;
  height: 60px;
  animation: spin 5s linear infinite;

}

#planet6 {
  left: 95%;
  top: 90%;
  width: 250px;
  height: 250px;
}

h3 {
  color: white;
  font-size: 1rem;
  letter-spacing: 1.5rem;
  font-family: "Aquatico";
  text-shadow: 0 0 5px #fff, 0 0 15px #fff;
  margin-left: 3rem;
  margin-bottom: -0.5rem;
  z-index: 1;
  transform: rotate(-90deg);
  transform-origin: right center;
  position: absolute;
  top: 20px;
}

h3:nth-child(1) {
  opacity: 0;
}

.fade-in h3:nth-child(1) {
  opacity: 1;
}

section:nth-of-type(2) h3 {
  left: -450px;
}

section:nth-of-type(3) h3 {
  left: -298px;
}

section:nth-of-type(1) h3 {
  left: -366px;
  top: 5px;
}

p {
  max-width: 640px;
  line-height: 150%;
  font-size: 20px;
  margin-top: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  z-index: 9;
  right: 0;
  align-items: flex-end;
}

nav.contact {
  position: relative;
  display: flex;
  justify-content: flex-end;
  left: -102px;
}

nav.social-media {
  top: 11rem;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100px;
}

nav.social-media a {
  padding: 1rem 0.5rem;
  display: inline-block;
  color: transparent;
  font-weight: bold;
  position: relative;
  z-index: 2;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  transition: letter-spacing 300ms ease, color 300ms ease;
}

nav.social-media a:not(:last-child) {
  margin-bottom: 0.5rem;
}

nav.contact a {
  padding: 1rem 0.5rem;
  display: inline-block;
  color: white;
  position: relative;
  transition: color 300ms ease-in-out;
}

nav.contact a:first-child {
  color: #63b5f8;
}

nav.contact a:nth-child(3) {
  color: #41a4f5;
}

nav.contact a:nth-child(5) {
  color: #1b88e2;
}

nav.contact a:hover {
  color: white;
}

nav.contact a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0rem;
  height: 1px;
  background: white;
  right: 0;
  -webkit-transition: width 0.3s cubic-bezier(0.37, 0, 0.21, 1.02);
  transition: width 0.3s cubic-bezier(0.37, 0, 0.21, 1.02);
}

nav.contact a:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

nav.social-media a:hover {
  letter-spacing: 1px;
  color: white;
}

nav::before {
  content: "Hire Me";
  text-shadow: 0 1px 5px #fff, 0 1px 15px #fff;
  position: absolute;
  top: -0.45rem;
  right: -3.5rem;
  font-size: 0.75rem;
  color: white;
}

nav::after {
  content: "";
  width: 300px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  right: -1.5rem;
}

nav.social-media::before {
  content: "Stalk Me";
  right: auto;
  left: 30px;
  top: -6.5rem;
  transform: rotate(90deg);
}

nav.social-media::after {
  right: auto;
  left: 1.5rem;
  top: -3rem;
  transform: rotate(90deg);
  width: 50px;
}

nav.social-media a::before {
  width: 28px;
  opacity: 0.75;
  position: absolute;
  top: -5px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    top 300ms ease;
}

nav.social-media a::after {
  content: "";
  border-radius: 50%;
  width: 54px;
  height: 54px;
  position: absolute;
  top: -1.5rem;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) scale(0.3);
  opacity: 0;
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav.social-media a:hover::after {
  transform: scale(1) translateX(-50%) translateZ(0);
  opacity: 1;
}

nav.social-media a:hover::before {
  opacity: 0.9;
  top: -0.85rem;
}

nav.social-media a:nth-child(1)::before {
  content: url("/icons/instagram.svg");
}

nav.social-media a:nth-child(1)::after {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
}

nav.social-media a:nth-child(2)::before {
  content: url("/icons/dribbble.svg");
}

nav.social-media a:nth-child(2)::after {
  background: #e83e80;
}

nav.social-media a:nth-child(3)::before {
  content: url("/icons/github.svg");
}

nav.social-media a:nth-child(3)::after {
  background: #552775;
}

nav.social-media a:nth-child(4)::before {
  content: url("/icons/flickr.svg");
}

nav.social-media a:nth-child(4)::after {
  background: linear-gradient(
    to right,
    rgba(0, 99, 220, 1) 0%,
    rgba(0, 99, 220, 1) 50%,
    rgba(255, 0, 132, 1) 51%,
    rgba(255, 0, 132, 1) 100%
  );
}

nav.social-media a:nth-child(5)::before {
  content: url("/icons/codepen.svg");
}

nav.social-media a:nth-child(5)::after {
  background: rgb(24, 24, 24);
}

.logo {
  width: 100px;
  height: auto;
  margin-left: -1px;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  transition: all 300ms ease;
}

section {
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  align-items: center;
  z-index: 3;
}

section#web {
  grid-gap: 4rem;
  margin: 0 2rem;
}

main section {
  padding-top: 3rem;
}

section img {
  transition: transform 100ms linear;
}

section img:hover {
  transform: scale(1.1);
}

.Tilt {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-size: cover;
  position: relative;
  padding: 4.5rem 1rem 1rem;
  margin: 0 0 2rem;
  height: 100%;
  border-radius: 1rem;
}


.hover:hover {
  z-index: 3;
}

.Tilt:hover {
  z-index: 3;
}

.title {
  font-size: 2.5rem;
  font-family: "Aquatico";
  line-height: 100%;
  letter-spacing: 3px;
  font-weight: bold;
  margin-left: -2rem;
  width: 70%;
}

.subtitle {
  font-size: 1.15rem;
  width: 70%;
  margin-top: 0.75rem;
}

.tags {
  position: absolute;
  top: 25px;
  right: -5px;
  font-size: 0.6rem;
}

.tags li {
  display: inline-block;
  margin: 2px;
  padding: 0.35rem;
  border-radius: 2px;
  border-width: 2px;
  letter-spacing: -0.5px;
  border-right-width: 2px;
  border-left-width: 5px;
  border-style: solid;
  font-weight: bold;
}

a.website-link {
  margin-top: 1rem;
  font-size: 18px;
  display: block;
  padding: 0.5rem 1.25rem;
  color: #131313;
  border-radius: 3px;
  display: inline-block;
  align-items: center;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  transition: color 300ms ease, top 300ms ease, box-shadow 300ms ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  z-index: 2;
  top: 0;
  transform: translateZ(20px);
}

a.website-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

a.website-link:hover,
a.website-link:focus,
a.website-link:active {
  color: #24afda;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

a.website-link:hover:before,
a.website-link:focus:before,
a.website-link:active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.image {
  margin: 1.5rem 0 0;
}

.role {
  padding: 5px 10px 7px 20px;
  position: relative;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  font-weight: bold;
}

.role::before {
  width: 26px;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -13px;
}

.Forum::before {
  content: url("/icons/f1.svg");
}

.Lehigh::before {
  width: 20px;
  left: -10px;
  top: calc(50% + 1px);
  content: url("/icons/lehigh.svg");
}

.Project::before {
  content: url("/ram-logo-white.svg");
}

.Weidenhammer::before {
  width: 24px;
  left: -11px;
  top: calc(50% + 1px);
  content: url("/icons/weidenhammer.svg");
}

.eyebrow {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 12px;
}

a.github,
a.designs {
  padding: 5px 10px 7px 1.75rem;
  display: inline-block;
  transition: background 300ms ease;
  position: relative;
  margin-left: 0.25rem;
}

a.github::before {
  content: url("/icons/github.svg");
  width: 1rem;
  position: absolute;
  top: 4px;
  left: 9px;
  height: auto;
}

a.designs::before {
  content: url("/icons/dribbble.svg");
  width: 1rem;
  position: absolute;
  top: 5px;
  left: 9px;
  height: auto;
}

a.github:hover {
  background: rgba(85, 39, 117, 0.5);
}

a.designs:hover {
  background: rgba(232, 62, 128, 0.5);
}

.hire-me {
  font-size: 1.5rem;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  border: 8px solid #0a65ce;
  padding: 2rem 3rem;
  outline: 10px solid #1c2741;
  transition: box-shadow 400ms ease;
  background-color: transparent;
  background-color: #0a65ce;
  color: #fff;
  box-shadow: 32px 32px 0px 0px #1fadff, 40px 40px 0px 0px #1c2741,
    64px 64px 0px 0px #0a65ce, 72px 72px 0px 0px #1c2741,
    96px 96px 0px 0px #1fadff, 104px 104px 0px 0px #1c2741,
    130px 130px 0px 0px #0a65ce, 137px 137px 0px 0px #1c2741,
    163px 168px 0px 0px #1fadff, 171px 175px 0px 0px #1c2741,
    198px 200px 0px 0px #0a65ce;
}

.hire-me:hover {
  background-color: #fff;
  color: #131822;
  outline: 10px solid #fff;
  border: 8px solid #fff;
  box-shadow: -30px -30px 0px 0px #1fadff;
}

.hire-me:hover a {
  color: #2598ce;
  text-shadow: none;
}

.hire-me p {
  line-height: normal;
  margin: 0;
}

.hire-me span {
  font-size: 2.75rem;
}

.hire-me a {
  font-size: 1.25rem;
  text-underline-position: under;
}

.photo {
  width: 60px;
  height: 75px;
  margin: -0.65rem auto 0;
  border: 7px solid #f2f2f2;
  border-bottom-width: 18px;
  background-color: #131822;
  border-radius: 2px;
}

.box {
  width: 55px;
  height: 58px;
  border: 4px solid #f2f2f2;
  background: #131822;
  margin: 0 auto;
  position: relative;
}

.anchor {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: -7px;
  background: #ffffff;
  border: 5px solid #f2f2f2;
}

.anchor:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.anchor:nth-child(3) {
  top: calc(100% + 4px);
  transform: translateY(-50%);
}
.anchor:nth-child(4) {
  top: calc(100% + 4px);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(5) {
  top: calc(100% + 4px);
  left: calc(100% + 4px);
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(6) {
  top: 50%;
  left: calc(100% + 4px);
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(7) {
  top: calc(0% - 4px);
  left: calc(100% + 4px);
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(8) {
  top: calc(0% - 4px);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.anchor:nth-child(9) {
  top: -25px;
  left: 50%;
  border-radius: 50px;
  background: #f2f2f2;
  transform: translateY(-50%) translateX(-50%);
}

.anchor:nth-child(9)::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 26px;
  top: 0px;
  left: 50%;
  background: #f2f2f2;
  transform: translateX(-50%);
}

.monitor {
  width: 85px;
  height: 55px;
  margin: 0 auto;
  background-color: #131822;
  border: 6px solid #f2f2f2;
  border-radius: 8px;
  position: relative;
}

.shape {
  position: relative;
  transition: transform 300ms ease;
}

.shape:hover {
  background-color: #327cca;
  transform: translateY(-5px);
}

.shape:hover::before {
  opacity: 1;
  transform: translateY(25px);
}

.shape::before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  transition: opacity 400ms ease, transform 300ms ease;
}

.base {
  position: absolute;
  width: 13px;
  height: 12px;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  background: #f2f2f2;
}

.base::before,
.base::after,
.grey-shadow::before,
.grey-shadow::after {
  position: absolute;
  content: "";
  top: 0;
}

.base:before {
  border-left: 3px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 12px solid #f2f2f2;
  left: -3px;
}

.base:after {
  border-right: 3px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 12px solid #f2f2f2;
  right: -3px;
}

.base > div {
  position: absolute;
}

.foot {
  background: #f2f2f2;
  z-index: 1;
}

.foot.top {
  width: 116px;
  height: 5px;
  bottom: -4px;
  left: 50%;
  margin-left: -58px;
}

.foot.top::before,
.foot.top::after,
.foot.bottom::before {
  position: absolute;
  content: "";
  top: 0px;
}

.foot.top::before {
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 5px solid #f2f2f2;
  left: -16px;
}

.foot.top::after {
  border-right: 16px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 5px solid #f2f2f2;
  right: -16px;
}

.foot.bottom {
  width: 32px;
  height: 5px;
  border-radius: 5px;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.scroll-more {
  width: 58px;
  margin: 0 auto;
  pointer-events: none;
  cursor: pointer;
  animation: bounce 3s infinite cubic-bezier(0.37, 0, 0.21, 1.02);
}

.fade-in .scroll-more {
  animation: none;
  pointer-events: auto;
  transform: rotate(180deg);
}

.fade-in .scroll-more:hover {
  color: #131822;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: rotateY(180deg) translateY(-8px);
    -ms-transform: rotateY(180deg) translateY(-8px);
    transform: rotateY(180deg) translateY(-8px);
  }
}

@keyframes spin {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}

@media screen and (min-width: 1920px) {
  main {
    margin-right: 100px;
  }
}

@media screen and (min-width: 1080px) {
  .title,
  .website-link,
  .tags {
    transform: translateZ(80px) !important;
  }
}

@media screen and (min-width: 768px) {
  .tags li:not(:last-child) {
    margin: 0 0 0.35rem;
  }

  .tags li {
    padding: 0.25rem 0.5rem;
    border-left-width: 2px;
    border-right-width: 5px;
    display: block;
    margin: 0;
  }
}

@media screen and (min-width: 560px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 980px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1280px) {
  section#web {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    justify-content: flex-start;
  }

  h2 .skills {
    text-align: left;
    margin-top: 0.75rem;
  }

  aside {
    width: 100px;
  }

  main {
    margin-left: 100px;
  }

  footer a {
    font-size: 14px;
  }
  .title {
    margin-left: -2rem;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  }
}

@media screen and (max-width: 768px) {
  header {
    height: auto;
    padding: 3rem 5rem 5rem 2rem;
  }

  .pronounce {
    opacity: 1;
    left: 0;
    transform: none;
    font-size: 9px;
    padding: 0.25rem 1rem;
  }

  section#web {
    grid-template-columns: 1fr;
  }
  .tags {
    margin-top: 0.75rem;
    position: static;
  }
  p {
    font-size: 16px;
  }
  h3 {
    transform: none;
    opacity: 1 !important;
    margin: 0;
    font-size: 2rem;
    left: 1rem !important;
    top: 1.75rem;
    letter-spacing: 0.75rem;
    word-break: break-all;
  }
}

@media screen and (max-width: 468px) {
  aside {
    width: 100%;
    height: auto;
    flex-direction: row;
    z-index: 19;
    padding: 1rem;
  }
  main {
    margin: 0;
    width: 100%;
  }

  aside::before {
    left: 0;
    border-width: 50px 300vw 0 0;
    transform: none;
  }
  aside::after {
    content: none;
  }

  .shape {
    transform: scale(0.7);
  }
  .scroll-more {
    display: none;
  }

  .photo {
    margin: -5px auto 0;
    margin-left: -2px;
  }

  .menu {
    right: 0.5rem;
  }

  main,
  .menu {
    margin-top: 4rem;
  }

  nav.contact {
    left: auto;
    right: 1rem;
  }
  nav.social-media {
    top: 23rem;
    right: -0.5rem;
    position: absolute;
  }
  .logo {
    width: 90px;
  }
  nav::after {
    right: 2.5rem;
    width: calc(100% - 3rem);
  }
  nav::before {
    right: 7px;
  }

  .hire-me {
    padding: 2rem 1.75rem;
  }

  footer {
    padding: 0 1.5rem;
  }
  section#graphic,
  section#photography {
    pointer-events: none;
  }
}

@media screen and (max-width: 388px) {
  h1 {
    font-size: 3rem;
  }
}
