* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aquatico";
  src: url("/fonts/Aquatico-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("/fonts/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Aquatico";
  src: url("/fonts/Aquatico-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: rotateY(180deg) translateY(-8px);
    -ms-transform: rotateY(180deg) translateY(-8px);
    transform: rotateY(180deg) translateY(-8px);
  }
}

@keyframes animateclouds {
  0% {
    transform: scale(0.5) translateX(0);
  }
  100% {
    transform: scale(0.5) translateX(100%);
  }
}

@keyframes suspend {
  0% {
    transform: rotateY(40deg) rotateX(0deg);
  }

  100% {
    transform: rotateY(-40deg) rotateX(0deg);
  }
}

@keyframes scrolling {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-70%);
  }
  40% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(-60%);
  }
  70% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flash {
  10% {
    background: rgba(255, 255, 255, 1);
  }
  100% {
    background: #100e17;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #f8f7f7;
  
  &::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 4;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, rgba(112, 213, 255, 0.8), rgba(0, 89, 188, 0.9));
    opacity: 0;
    transition: transform 500ms ease, opacity 300ms ease;
    pointer-events: none;
  }
}

a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
::-moz-selection {
  background-color: rgba(112, 213, 255, 0.25);
}
::selection {
  background-color: rgba(112, 213, 255, 0.25);
}
