footer {
  align-items: center;
  background-image: url("/images/RAM_185-galaxy-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding: 2rem;
  color: white;
  width: 100%;
  z-index: 1;
  text-align: center;
  animation: galaxy 35s ease infinite;

  @media screen and (max-width: 800px) {
    height: 70vh;
  }

  a {
    color: white;
    display: block;
    text-transform: lowercase;
    color: white;
    font-family: "Zefani";
    font-size: 1.5rem;
    word-break: break-all;
    transform: translateZ(50px);  
    text-shadow: 0 0 5px #fff;
  } 

  @keyframes galaxy {
    0% {
      background-size: 100% 100%;
    }
    50% {
      background-position: 30% 50%;
      background-size: 180% 180%;
    }
    100% {
      background-size: 100% 100%;
    }
  }

  h3 {
    font-size: 3rem;
    font-family: "Zefani";
    text-transform: uppercase;
    max-width: 450px;
    width: 100%;

    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }

  .tilt {
    transform-style: preserve-3d;
  }

  .footerCTAs {
    display: flex;
    margin-top: 3rem;
  }
  .footerCTA {
    background-color: rgba(4, 4, 17, 0.75);
    padding: 3rem;
    margin-right: -1px;
    color: #7996af;
    font-size: 0.75rem;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    &::before,
    &::after {
      box-sizing: inherit;
      content: "";
      position: absolute;
      z-index: 0;
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }
    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &:hover {

      &::before {
        border-top-color: white;
        border-right-color: white;
        transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
      }

      &::after {
        border-bottom-color: white;
        border-left-color: white;
        transition: border-color 0s ease-out 0.3s, width 0.2s ease-out 0.3s,
          height 0.1s ease-out 0.5s;
      }

      &::before,
      &::after {
        width: 100%;
        height: 100%;
      }
    }

    span {
    
    }
  }

  .copyright {
    position: absolute;
    bottom: 5.95rem;
    text-align: center;
    font-family: "Zefani";
    font-size: 0.85rem;

    span {
      font-family: "Barlow";
      font-weight: 100;
      text-transform: uppercase;
      font-size: 0.65em;
      letter-spacing: 0.05rem;
    }
  }

  &::after {
    background: linear-gradient(#040411, rgba(19, 20, 36, 0));
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
