footer {
  width: 100%;
  font-family: "Barlow", sans-serif;
  text-align: center;
  position: fixed;
  padding: 1.5rem 1rem 1.5rem;
  z-index: 2;
  bottom: 0;
  left: 0;
  font-size: 12px;
  background-color: #ffffff;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));

  @media screen and (min-width: 500px) {
    padding: 0rem 1rem 1.5rem;
  }

  a {
    color: #0967a2;
    background-color: #ebf3f7;
  }
  
  &::before {
    content: "";
    position: absolute;
    height: 0;
    top: -29px;
    right: 0;
    z-index: -1;
    border-style: solid;
    border-width: 0 50vw 30px 50vw;
    border-color: transparent transparent #fff transparent;
  }
}


.filters {
  position: absolute;
  bottom: 0;
  height: 170px;
  padding: 1rem;
  width: calc(100% - 4rem);
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .vector {
    transform: translateZ(60px) scale(0.4);
  }
}