header {
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
}

h1 {
  font-family: "Zefani";
  font-size: 6rem;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
  line-height: 85%;
  text-shadow: 0 0 5px #fff, 0 0 15px rgba(255, 255, 255, 0.3);

  @media screen and (max-width: 800px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 280px) {
    font-size: 3rem;
  }
}

h2 {
  color: #e7e7f8;
  font-family: "Barlow";
  font-weight: 100;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  @media screen and (max-width: 800px) {
    line-height: 100%;
  }

  span {
    animation: rainbow1 75s ease infinite 3s;
    font-style: normal;
    font-weight: 500;
    padding: 0 0.5rem;

    @media screen and (max-width: 800px) {
      display: block;
    }
  }
}

.pronounce {
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  position: relative;
  z-index: 5;
  opacity: 0;
  transition: opacity 300ms ease;

  &::after,
  &::before {
    content: "/";
    padding: 0 1.2rem 0 1rem;
    animation: rainbow1 75s ease infinite 3s;
  }
}

.me {
  max-width: 350px;
  width: 100%;
  margin: 0 auto -80px;
}


@keyframes rain {
  0% {
    transform: translateY(-100%);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.info {
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: -5rem;
}

.photobooth {
  &:hover {
     div {
        &:nth-child(1) {
          transform: translateY(50px);
          opacity: 0;
        }
        &:nth-child(2) {
          transform: translateY(0);
          opacity: 1;
        }
      }
  }
}

.raindrops {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;

  .rain {
    width: 2px;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 0;
    left: -3px;
    z-index: 5;
    box-shadow: 0 0 5px 0 white, 0 0 6px 0 white, 0 0 10px 0 white,
      0 0 15px 0 white;

    &:nth-child(1) {
      left: 25%;
      height: 80px;
      animation: 2s rain linear infinite;
    }

    &:nth-child(2) {
      left: 50%;
      height: 120px;
      animation: 5s rain linear infinite;
    }

    &:nth-child(3) {
      left: 75%;
      height: 100px;
      animation: 3s rain linear infinite;
    }
  }
}

.keyboard {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  .key {
    border-left: 0.5px solid rgba(50, 38, 53, 0.5);
    border-right: 0.5px solid rgba(50, 38, 53, 0.5);
    z-index: 1;
    position: relative;
    transition: background-color 500ms ease, box-shadow 500ms ease;

    &:hover {
      transition: none;
      @for $i from 1 through 20 {
        $bg1: random(255);
        $bg2: random(255);
        $bg3: random(255);
        $fullcolor: rgba($bg1, $bg2, $bg3, 1);

        &:nth-child(#{$i}) {
          background: rgba($bg1, $bg2, $bg3, 1);
          box-shadow: 0 0 15px 0 $fullcolor, 0 0 20px 0 $fullcolor,
            0 0 25px 0 $fullcolor;
        }
      }
    }
  }
}